%h2
= form_for @user do |f|
  .panel-body
    .row
      .col-md-8.col-md-offset-2
    .form-group
      = f.label :name, class: 'control-label col-md-3 col-md-offset-1'
      .col-md-6
        = f.text_field :name, autofocus: true, placeholder: "Tom", class: 'form-control'
    .form-group
      = f.label :description, class: 'control-label col-md-3 col-md-offset-1'
      .col-md-6
        = f.text_area :description, autofocus: true, placeholder: "Description", class: 'form-control', rows: "8"
    .form-group
      = f.label :avatar, class: 'control-label col-md-3 col-md-offset-1'
      .col-md-6
        = f.file_field :avatar, class: 'form-control'
    .form-group
      .col-md-6
        = f.submit 'Update', class: 'btn btn-info col-md-offset-2'
